@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Custom Slick Arrows */
/* Ensure that the default slick arrows are hidden and custom ones are used */
.slick-prev,
.slick-next {
  display: none; /* Hide default arrows */
}

/* Custom Slick Arrows */
.custom-slick-prev {
  top: 35% !important;
}
.custom-slick-prev,
.custom-slick-next {
  position: absolute;
  top: 50%;
  width: 50px; /* Set custom width */
  height: 50px; /* Set custom height */
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.custom-slick-prev {
  left: -12px; /* Adjust position as needed */
  background-image: url("/images/gray-next-arrow.webp"); /* Custom previous arrow image */
  transform: rotate(180deg);
}

.custom-slick-next {
  right: -12px; /* Adjust position as needed */
  background-image: url("/images/gray-next-arrow.webp"); /* Custom next arrow image */
}

/* .clip-path-custom {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 34%, 30% 34% );
} */
/* .clip-path-custom {
  clip-path: inset(10% 20% 30% 40% round 0 0 0 50%);
} */


.masking_class::before {
  content: "";
  position: absolute;
  right: -40px;
  /* left: 0; */
  top: 0px;
  height: 40px;
  width: 40px;
  border-top-left-radius: 24px;
  /* background-color: blue; */
  box-shadow: -10px -20px 0 9px black;

}
.masking_class_2::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -40px;
  height: 40px;
  width: 40px;
  border-top-left-radius: 24px;
  /* background-color: blue; */
  box-shadow: -10px -15px 0 9px black;

}