@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Custom Slick Arrows */
.slick-prev,
.slick-next {
  display: none; /* Hide default arrows */
}
.slick-prev {
  display: none !important;
}

/* Custom Slick Arrows */
.custom-slick-prev {
  top: 35% !important;
}
.custom-slick-prev,
.custom-slick-next {
  position: absolute;
  top: 50%;
  width: 50px; /* Set custom width */
  height: 50px; /* Set custom height */
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.custom-slick-prev {
  left: -12px; /* Adjust position as needed */
  background-image: url("/images/gray-next-arrow.webp"); /* Custom previous arrow image */
  transform: rotate(180deg);
}

.custom-slick-next {
  right: -12px; /* Adjust position as needed */
  background-image: url("/images/gray-next-arrow.webp"); /* Custom next arrow image */
}

.masking_class::before {
  content: "";
  position: absolute;
  right: -40px;
  top: 0px;
  height: 40px;
  width: 40px;
  border-top-left-radius: 24px;
  box-shadow: -10px -20px 0 9px black;
}
.masking_class_2::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -40px;
  height: 40px;
  width: 40px;
  border-top-left-radius: 24px;
  box-shadow: -10px -15px 0 9px black;
}

.widget-position-right {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  z-index: 9999; /* Ensure it's above other content */
}
